@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300&display=swap");
.sidenav-wrap {
  height: 100%;
  /* text-align: center; */
}

.navbarwrapper {
  background: #ffffff;
  /* width: 100%; */
  height: 100%;
  /* padding: 20px;   */
  position: fixed;
  top: 0;
  left: 0;
  overflow-x: hidden;
  padding-top: 20px;
}

.sidenavlist {
  padding-top: 23px;
  text-decoration: none;
  text-transform: none;
}

.sidenavlist .list-group {
  background: transparent !important;
}

.logo {
  padding: 0px 20px 0px 20px;
}

.sidenavlist .list-group-item {
  background: transparent !important;

  border: none;
  font-family: "Montserrat", sans-serif;
  /* font-style: bold; */
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.2px;
  padding: 20px 0px 20px 50px;
  border-left: 9px solid transparent;
}
a {
  text-decoration: none !important;
  color: #00249c;
}
.sidenavlist .current {
  color: white !important;

  background: #00249c !important;
  width: 100%;

  /* border-left: 9px solid #BE4D00; */
  /* transition: border-left .5s ease-in-out; */
}
.current li::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100px;
  right: 100%;
  background: #be4d00;
}
.sidenavlist img {
  margin-right: 25px;
}
.footer {
  /* position: absolute; */
  /* bottom: 0; */
  margin-top:50px ;
  background: #ffffff;
  width: 100%;
}
.mobile-logo {
  display: none;
}
@media (max-width: 767px) {
  .navbarwrapper {
    width: 50px;
  }

  .list-group-item {
    padding: 5px 0px 5px 10px !important;
  }
  .sidenavlist img {
    margin-right: 50px;
  }

  .list-group-item-text {
    display: none;
  }
  .logo {
    padding: 0;
  }
  .mobile-logo {
    display: flex;
    align-self: center;
    width: 100%;
  }
  .desktop-logo {
    display: none;
  }
}
@media only screen and (min-device-width: 768px) and (max-device-width: 992px) {
  .navbarwrapper {
    width: 50px;
  }

  .list-group-item {
    padding: 10px 0px 10px 10px !important;
  }
  .sidenavlist img {
    margin-right: 50px;
  }

  .list-group-item-text {
    display: none;
  }
  .logo {
    padding: 0;
  }
  .mobile-logo {
    display: flex;
    align-self: center;
    width: 100%;
  }
  .desktop-logo {
    display: none;
  }
}
