.login-wrapper {
  background: linear-gradient(109.55deg, #7ba4db 0%, #4640cc 100%);
  height: 100vh;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;
}

.form-wrapper {
  background: #ffffff;
  /* Stroke */

  border: 1px solid #e2e2e2;
  box-sizing: border-box;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
  border-radius: 7px;
  padding: 50px 100px;
  /* height: 500px; */
  width: 600px;
}
.form-wrapper .logo {
  background-image: url(../../../Assets/img/mCP-logo\ 1.svg);
  background-position: 50% 50%;
  background-repeat: no-repeat;
  padding-bottom: 100px;
}

.button-wrap {
  background: linear-gradient(109.55deg, #7ba4db 0%, #4640cc 100%);
  opacity: 0.7;
  border-radius: 30px;
  /* padding: 10px 100px; */
  color: #ffffff;
  width: 100%;
}

.forgot-text {
  letter-spacing: 0.1px;
  color: #e93c3c;
  text-align: right;
}
@media screen and (max-width: 600px) {
  .form-wrapper {
    display: flex;
    flex-direction: column;
    padding: 50px 50px;
    margin: 0 1rem;
  }
}
