.agent-transact-header {
  display: flex;
  font-size: medium;
  align-items: center;
  justify-content: space-between;
}

.agent-transact-header span {
  margin: 18px;
  padding-left: 20px;
  cursor: pointer;
  font-size: small;
  font-weight: bolder;
  opacity: 1;
}

.agent-transact-header img {
  margin: 10px;
}

.transact-wrapper {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 22px;
  letter-spacing: 0.1px;
  padding: 0px 62px 0px 23px;
  color: #52575c;
}

.table-wrapper {
  padding: 10px;
  /* background: #FFFFFF; */
  /* DS2 */
  text-align: center;
  background: #ffffff;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
  /* border-radius: 7px; */
}

.table-wrapper h4 {
  margin-bottom: 20px;
  text-align: left;
}
.pending {
  /* Pending/Warning Default */

  background: #f6a609;
  border-radius: 4px;
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 11px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.02em;
  padding: 5px 10px;
  /* white */

  color: #ffffff;
}

.successful {
  background: #2ac769;
  border-radius: 4px;
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 11px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.02em;
  color: #ffffff;
  padding: 5px 10px;
}
.failure {
  background: #fb4e4e;
  border-radius: 4px;
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 11px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.02em;
  color: #ffffff;
  padding: 5px 10px;
}

.pagination_wrap {
  /* background-color: #f9f9f9; */
  padding: 0px 60px;
  padding-top: 20px;
  display: flex;
  justify-content: flex-end;
  align-content: center;
}

.pagination_wrap p {
  color: #393b3e;
  font-size: 10px;
  letter-spacing: 0.02em;
  line-height: 18px;
  margin-bottom: 0px;
  padding: 8px;
}

.pagination li {
  border: 1px solid #393b3e;
  font-size: 15px;
  margin: 3px;
  padding: 1px 10px;
}

.pagination .active {
  background-color: #1e4a86;
  color: #ffffff;
}

.pagination .active a {
  color: #ffffff;
}
.pagination li a {
  color: #393b3e;
  font-weight: 700;
  text-decoration: none;
}

@media screen and (max-width: 600px) {
  .agent-transact-header {
    font-size: small;
  }
  .transact-wrapper {
    padding: 0px 10px 0px 23px !important;
  }
  .agent-transact-header img {
    display: none;
  }
  .agent-transact-header span {
    text-align: center;
    display: none;
  }
  .agent-transact-header {
    width: 100%;
  }
  .pagination_wrap {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .table-wrapper h4 {
    text-align: center;
  }
  .pagination li {
    margin: 2px;
    padding: 1px 8px;
  }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 992px) {
  .transact-wrapper {
    padding: 0px 10px 0px 23px !important;
  }
  .table-wrapper {
    margin-top: 1rem;
  }
  .actions {
    display: none;
  }
  .pagination_wrap {
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin-top: 1rem;
  }
}
