.sidenavWrapper {
    position: fixed;
    height: 100%;
    width: 17%;
}
.dashboardTemplate-wrap {
    display: flex;
    margin: 0;
    /* background: #E5E5E5; */
    padding: 0px;
    height: 100%;
}

.mainwrapper {
    background: #E5E5E5;
    position: relative;
    left: 17%;
    padding-top: 12px;
    width: 83%;
}