.app-version{
    width:70%;
    margin: 1rem auto;
    padding:1rem;
    background: #FFFFFF;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
}

.inputs{
    width: 50%;
    margin: auto;
    align-items: center;
    justify-items:center;
    /* background:yellow; */
}
 .input-text {
    width:100%;
}
.inputs label{padding-left: .5rem;}

.butons{
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
    
    
}
.butons input{
    background: #00249C;
    color: #FFFFFF;
    font-weight: bolder;
    border: none;
    padding: auto;
}